<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">

<section class="slider_section">
    <div class="banner_main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mapimg">
                    <div class="text-bg">
                        <h1>BOOK OF<br> <strong class="black_bold">THE WEEK</strong><br></h1>
                        <a href="/product">Shop Now <i class='fa fa-angle-right'></i></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="text-img">
                        <figure><img src="images/attwn.jpg" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- discount -->
<div class="slider">
    <div class="slides">
        <input type="radio" name="radio" id="radio1">
        <input type="radio" name="radio" id="radio2">
        <input type="radio" name="radio" id="radio3">

        <div class="slide first">
            <img src="images/banner1.jpg">
        </div>
        <div class="slide">
            <img src="images/banner2.jpg">
        </div>
        <div class="slide">
            <img src="images/banner3.jpg">
        </div>

        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>
    </div>
    <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
    </div>
</div>
<!-- end discount -->
<!-- trending -->
<div class="trending">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Trending <strong class="black">Categories</strong></h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margitop">
                <div class="trending-box">
                    <figure><img src="images/mystery.jpg" /></figure>
                    <h3>Mystery</h3>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="trending-box">
                    <figure><img src="images/self-help.jpg" /></figure>
                    <h3>Self-help</h3>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margitop">
                <div class="trending-box">
                    <figure><img src="images/fantasy.jpg" /></figure>
                    <h3>Fantasy</h3>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- end trending -->

<!-- our brand -->
<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Featured <strong class="black">Titles</strong></h2>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="brand-bg">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                <div class="brand-box">
                    <i><img src="images/harrypotter.jpg"/></i>
                    <h3 style="color: #5ba3a1;">Harry Potter & The Order of The Phoenix</h3>
                    <span>120.000 VND</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                <div class="brand-box">
                    <i><img src="images/dacnhantam.jpg"/></i>
                    <h3 style="color: #5ba3a1;">Đắc Nhân Tâm</h3>
                    <span>64.000 VND</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="brand-box">
                    <i><img src="images/davinci.jpg"/></i>
                    <h3 style="color: #5ba3a1;">The Da Vinci Code</h3>
                    <span>80.000 VND</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="brand-box">
                    <i><img src="images/attwn.jpg"/></i>
                    <h3 style="color: #5ba3a1;">And Then There Were None</h3>
                    <span>110.000 VND</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our brand -->
<!-- map -->
<div class="contact">
    <div class="container-fluid padddd">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Contact <strong class="black">Us</strong></h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                <div class="map_section" style="padding-left: 30px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1904.0222657777742!2d106.6815598834786!3d10.76307660745647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puLCDEkEhRRy1IQ00!5e0!3m2!1svi!2s!4v1640508073879!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                <form class="main_form">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Name" type="text" name="Name">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Email" type="text" name="Email">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Phone" type="text" name="Phone">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <button class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



