<link rel="stylesheet" href="/css/order.css">

<div class="OrderContainer">
    <span class= "OrderHeader">Order <span class="OrderID">123456</span></span>
    <ul class="Header">
        <li class="text-center"><span>Product </span></li>
        <li class="text-center"><span>Name</span> </li>
        <li class="text-center"><span>Amount</span></li>
        <li class="text-center"><span>Price</span></li>
    </ul>
    <div class="CartList">
    <ul class="Cart-Items">
        <li class="image-box">
            <img src="/images/s&w.jpg" style="width:auto;height:150px;" />
        </li>
      <li>
          <span class="product-name">Spice & wolf</span>
          </li>
        <li>
          <span class="product-amount">3</span>
        </li>
        <li>
          <span class="price">3$</span>
        </li>
    </ul>
    </div>
    <div class="col-md-12">
    <ul class="CartInfo">
        <div class="col-md-12">
            <div class="row">
        <li>
                <span style="float:left;margin-right:100px">Status:</span>
                <span  class="Status"style="float:right">Packing</span>
        </li>
        </div>
        <div class="row">
        <li>
                <span style="float:left;margin-right:100px">Voucher:</span>
                <span  class="Voucher"style="float:right">None</span>
        </li>
        </div>
        <div class="row" style="width:100%">
        <li>
                <span style="float:left;margin-right:100px">Total:</span>
                <span class="Total"style="margin-left:60px">3$</span>
            </li>
            </div>
    </ul>
    </div>

    </div>
</div>