<link rel="stylesheet" href="/css/order.css">
<div class="container">
    <article class="card">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <h1 style="color:#008000; font-weight:bold">ORDER LIST</h1>
        <div class="card-body">
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Order ID:</strong> ODID1 </div>
                    <div class="col"><strong>Status:</strong> Confirmed</div>
                    <div class="col"> <strong>Voucher:</strong> VCCD1 </div>
                    <div class="col"> <strong>Total:</strong> 190.000 VND </div>
                </div>
            </article>

            <table class="data-tables table table-bordered" style="width:100%">
                <thead style="background-color: #48AAAD; color: white">
                <tr>
                    <th width="7%" style="text-align: center;">Item</th>
                    <th width="10%" style="text-align: center;">Product Name</th>
                    <th width="3%" style="text-align: center;">Amount</th>
                    <th width="3%" style="text-align: center;">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/images/s&w.jpg" style="width:auto;height:100px; vertical-align:middle"></td>
                    <td>Spice & Wolf</td>
                    <td>2</td>
                    <td>69.000</td>
                </tr>
                <tr>
                    <td><img src="/images/wolfie.jpg" style="width:auto;height:100px; vertical-align:middle"></td>
                    <td>Wolfie The Bunny</td>
                    <td>1</td>
                    <td>52.000</td>
                </tr>
                </tbody>
            </table>
            <div class="line"></div>
        </div>
        <button class="button cancel">
                Cancel Order
        </button>
        <div class="card-body">
            <article class="card">
            <div class="card-body row">
                <div class="col"> <strong>Order ID:</strong> ODID2 </div>
                <div class="col"><strong>Status:</strong> Shipped </div>
                <div class="col"> <strong>Voucher:</strong> VCCD2 </div>
                <div class="col"> <strong>Total:</strong> 110.000 VND </div>
            </div>
            </article>

            <table class="data-tables table table-bordered" style="width:100%">
                <thead style="background-color: #48AAAD; color: white">
                <tr>
                    <th width="7%" style="text-align: center;">Item</th>
                    <th width="10%" style="text-align: center;">Product Name</th>
                    <th width="3%" style="text-align: center;">Amount</th>
                    <th width="3%" style="text-align: center;">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/images/attwn.jpg" style="width:auto;height:100px; vertical-align:middle"></td>
                    <td>And Then There Were None</td>
                    <td>1</td>
                    <td>110.000</td>
                </tr>
                </tbody>
            </table>
            <div class="line"></div>
        </div>
    <button class="button cancel">
        Cancel Order
    </button>
    </article>
</div>